# Unity generated state
/unity/**/Library/
/unity/**/Temp/
/unity/**/Logs/
/unity/**/UserSettings/
/unity/**/obj/
/unity/**/*-create.log
/unity/**/MemoryCaptures/
/unity/**/Builds/
/unity/*.log

# Locally installed third-party assets that prohibit redistribution
/unity/ClockworkPrototype/Assets/Clockwork/LocalAssets/
/unity/ClockworkPrototype/Assets/Clockwork/LocalAssets.meta

# Local IDE state
.vs/
*.csproj
*.sln
*.user
