/Library/
/Temp/
/Logs/
/UserSettings/
/Builds/
/QA/*.log
/QA/Runtime*/player.log
/QA/Runtime*/process-id.txt
*.csproj
*.sln
*.slnx
!Tools/ModelChecks/*.csproj
/Tools/ModelChecks/bin/
/Tools/ModelChecks/obj/
/QA/StaticCompile/
/QA/V2/**/player.log
/QA/V3/**/player.log
