/Library/
/Temp/
/Logs/
/UserSettings/
/Builds/
/QA/*.log
/QA/Runtime*/player.log
/QA/Runtime*/process-id.txt
*.csproj
*.sln
*.slnx
!Tools/ModelChecks/*.csproj
!Tools/CompileGame/CompileGame.csproj
/Tools/CompileGame/obj/
/Tools/ModelChecks/bin/
/Tools/ModelChecks/obj/
/QA/StaticCompile/
/QA/V2/**/player.log
/QA/V3/**/player.log
/QA/V4/**/player.log
/QA/V8/**/player.log
/QA/V8/**/process-id.txt
/QA/V9/**/player.log
/QA/V9/**/process-id.txt
/QA/V10/**/player.log
/QA/V10/**/process-id.txt
